$w_container: 96%;
$mx-auto: 0 auto;
$font-pop: 'Poppins', sans-serif;
$border_a: #2b3138e2;
// $text_color_h3: #ffffffcb;
$text_color_h3: #f6fdffe4;

// common css {
.buttons {
    padding: 12px 25px;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}
.login_logout_bar {
    display: none;
}
.flex {
    display: flex;
}
// }

// mixin {
// size, color, weight, font-family
@mixin font($text_s: 20px, $text_c: white, $text_w: bold, $font_f: $font-pop) {
    font-size: #{$text_s};
    color: #{$text_c};
    font-weight: #{$text_w};
    font-family: #{$font_f};
}
// }

body {
    background: #0e1217;
    font-family: $font-pop;
}

.container {
    width: $w_container;
    margin: $mx-auto;
}

#nav_part {
    border-bottom: 1px solid $border_a;
    position: fixed;
    width: 100%;
    z-index: 11111;
    background: #0e1217;
    top: 0;
    .nav_part_wrap {
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;

        //bar_icon
        .bar_icon {
            color: white;
            font-size: 25px;
            cursor: pointer;
        }
        .bars {
            display: none;
        }

        &--logo {
            width: 50px;
            img {
                width: 100%;
            }
        }

        .nav_part_wrap--search_bar {
            position: relative;
            .nav_part_wrap--input {
                width: 500px;
                height: 40px;
                padding: 20px;
                background: rgba(244, 242, 242, 0.081);
                border: 1px solid rgba(244, 242, 242, 0.27);
                border-radius: 15px;
                color: #f0f8ff81;
                font-family: font-pop;
                font-size: 15px;
            }

            .nav_part_wrap--search--icon {
                color: rgb(255, 255, 255);
                position: absolute;
                transform: translateY(-50%);
                right: 15px;
                top: 50%;
            }
        }

        .nav_part_wrap--button {
            display: flex;
            gap: 15px;
            & button:nth-of-type(1) {
                @extend .buttons;
                background: transparent;
                color: white;
                font-weight: bold;
                font-size: 15px;
            }
            & button:nth-of-type(2) {
                @extend .buttons;
                background: white;
                color: rgba(0, 0, 0, 0.614);
                font-weight: bold;
                font-size: 15px;
            }
        }
    }
}

#main_section {
    background: #0e1217;
    position: relative;
    z-index: 0;
    // left start
    margin-top: 75px;
    .main__section--laft__aside {
        width: 14.5rem;
        border-right: 1px solid rgba(43, 49, 56, 0.8862745098);
        padding-top: 20px;
        height: 100vh;
        padding-right: 20px;
        position: fixed;
        &__wrap {
            display: flex;
            align-items: center;
            gap: 10px;
            &--logo {
                width: 22px;
                img {
                    width: 100%;
                }
            }
            &--logo__title {
                h3 {
                    color: $text_color_h3;
                    font-family: $font-pop;
                    font-size: 15px;
                }
            }
        }

        // main__section--laft__aside--project__doc start
        &--project__doc {
            display: flex;
            align-items: center;
            gap: 10px;
            padding-top: 20px;
            // icon
            &--icon i {
                color: $text_color_h3;
            }
            &--name {
                width: 75%;
                // size, color, weight, font-family
                h3 {
                    @include font(15px, $text_color_h3, 400);
                }
            }
            &--icon__link i {
                color: $text_color_h3;
                cursor: pointer;
            }
        }
        // main__section--laft__aside--project__doc end
        // left start
    }

    .main__section--right__aside {
        width: 100%;
        padding: 0 80px 0 345px;
        &--inside__wrap {
            width: 100%;
            border-left: 1px solid $border_a;
            border-right: 1px solid $border_a;
            &--readme {
                width: 65%;
                border-right: 1px solid $border_a;
                // pard_one start
                &--t_n {
                    width: 100%;
                    padding-bottom: 100px;
                    ul {
                        display: flex;
                        padding: 5px 20px;
                        border-bottom: 1px solid $border_a;
                        width: 100%;
                        li {
                            // size, color, weight, font-family
                            @include font(15px, $text_color_h3, 400);
                            padding: 12px 25px;
                            border-radius: 10px;
                            cursor: pointer;
                            &:hover {
                                background: rgba(57, 57, 57, 0.804);
                            }
                        }
                    }
                    .content_img {
                        padding: 25px 25px 0 25px;

                        img {
                            width: 100%;
                            border-bottom: 1px solid $border_a;
                            padding-bottom: 40px;
                        }
                    }

                    .title {
                        padding: 25px 25px 0 25px;
                        h3 {
                            // size, color, weight, font-family
                            @include font(15px, $text_color_h3, 400);
                        }
                    }

                    .my_vision {
                        padding: 25px 25px 0 25px;
                        h3 {
                            // size, color, weight, font-family
                            @include font(15px, $text_color_h3, 400);
                            padding-bottom: 10px;
                        }
                        p {
                            // size, color, weight, font-family
                            @include font(13px, $text_color_h3, 400);
                            line-height: 150%;
                        }
                    }

                    .connect_with_me {
                        padding: 25px 25px 0 25px;
                        h3 {
                            // size, color, weight, font-family
                            @include font(15px, $text_color_h3, 400);
                            padding-bottom: 10px;
                        }
                        p {
                            // size, color, weight, font-family
                            @include font(13px, $text_color_h3, 400);
                            line-height: 150%;
                        }
                    }
                    .education {
                        padding: 25px 25px 0 25px;
                        h3 {
                            // size, color, weight, font-family
                            @include font(15px, $text_color_h3, 400);
                            padding-bottom: 10px;
                        }
                        h4 {
                            // size, color, weight, font-family
                            @include font(13px, $text_color_h3, 400);
                            padding-bottom: 10px;
                            line-height: 150%;
                            padding-left: 20px;
                        }
                    }
                    .expertise {
                        padding: 25px 25px 0 25px;
                        h3 {
                            // size, color, weight, font-family
                            @include font(15px, $text_color_h3, 400);
                            padding-bottom: 10px;
                        }
                        h4 {
                            // size, color, weight, font-family
                            @include font(13px, $text_color_h3, 400);
                            padding-bottom: 10px;
                            line-height: 150%;
                            padding-left: 20px;
                        }
                    }
                }
                // pard_one start

                // part_two start
                &--t_n {
                    #part_two {
                        padding: 25px 25px 0 25px;
                        .content_title {
                            h3 {
                                // size, color, weight, font-family
                                @include font(15px, $text_color_h3, 400);
                                padding-bottom: 10px;
                                padding-top: 20px;
                            }
                            p {
                                // size, color, weight, font-family
                                @include font(13px, $text_color_h3, 400);
                                line-height: 150%;
                            }
                        }
                        .content_img_blog {
                            margin-top: 20px;
                            border-radius: 70px;
                            overflow: hidden;
                            img {
                                width: 100%;
                            }
                        }
                    }
                }
                // part_two end
            }
            &--profile {
                padding: 15px;
                width: 35%;
                .profile_title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    h2 {
                        // size, color, weight, font-family
                        @include font(18px, $text_color_h3, 700);
                    }
                    .share_icon {
                        color: $text_color_h3;
                        font-size: 20px;
                        cursor: pointer;
                    }
                }

                .profile_img_wrap {
                    border-radius: 20px;
                    margin-top: 30px;
                    background: url('../../images/bg.jpg') no-repeat center;
                    background-size: cover;
                    // background: #8c8b8b48;
                    .profile_img {
                        margin: 0;
                        padding: 0;
                        width: 80px;
                        height: 80px;
                        border-radius: 20px;
                        overflow: hidden;
                        img {
                            width: 100%;
                        }
                    }
                }

                .my_name {
                    margin-top: 30px;
                    h1 {
                        // size, color, weight, font-family
                        @include font(18px, white, 700);
                    }
                }

                .social_media {
                    margin-top: 40px;
                    display: flex;
                    flex-wrap: wrap;
                    column-gap: 20px;
                    & div:nth-of-type(1) a {
                        border-radius: 10px;
                        border: 2px solid $border_a;
                        display: inline-block;
                        padding: 5px 10px;
                        // size, color, weight, font-family
                        @include font(15px, $text_color_h3, 700);
                        span {
                            padding-left: 5px;
                        }
                    }
                    & div:nth-of-type(2) a {
                        border-radius: 10px;
                        border: 2px solid $border_a;
                        display: inline-block;
                        padding: 5px 10px;
                        // size, color, weight, font-family
                        @include font(15px, $text_color_h3, 700);
                        span {
                            padding-left: 5px;
                        }
                    }
                    & div:nth-of-type(3) a {
                        margin-top: 10px;
                        border-radius: 10px;
                        border: 2px solid $border_a;
                        display: inline-block;
                        padding: 5px 10px;
                        // size, color, weight, font-family
                        @include font(15px, $text_color_h3, 700);
                        span {
                            padding-left: 5px;
                        }
                    }
                    & div:nth-of-type(4) a {
                        margin-top: 10px;
                        border-radius: 10px;
                        border: 2px solid $border_a;
                        display: inline-block;
                        padding: 5px 10px;
                        // size, color, weight, font-family
                        @include font(15px, $text_color_h3, 700);
                        span {
                            padding-left: 5px;
                        }
                    }
                    & div:nth-of-type(5) a {
                        margin-top: 10px;
                        border-radius: 10px;
                        border: 2px solid $border_a;
                        display: inline-block;
                        padding: 5px 10px;
                        // size, color, weight, font-family
                        @include font(15px, $text_color_h3, 700);
                        span {
                            padding-left: 5px;
                        }
                    }
                }
            }
        }
    }
}
